<div class="sidebar-module about">
  <h4>Contacts</h4>
  <h1>
	<a href="mailto:{{site.email}}" title="mailto: {{site.email}}"><i class="fa fa-envelope-square"></i></a>
	<a href="skype:{{site.skype_username}}?chat" title="send message to skype: {{site.skype_username}}"><i class="fa fa-skype"></i></a>
	<!-- <a href="https://github.com/{{site.github_username}}"><i class="fa fa-github-square"></i></a>  -->
	<a href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="fa fa-linkedin-square"></i></a> 
	<a href="https://facebook.com/{{site.facebook_username}}"><i class="fa fa-facebook-square"></i></a> 
	<a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter-square"></i></a> 
  </h1>
</div>
